/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Mobile first */
.wrapper {
  min-height: 100vh;
  min-width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  margin: 50px;
  color: #333;
}

#output {
  margin: 1rem, auto;
}

.card {
  margin: 0, auto;
  padding: 2rem;
  box-shadow: inset 5px 5px 5px #00000010;
  word-break: break-word;
}

.card h2 {
  padding-bottom: 1.5rem;
  text-align: center;
}

.card > p {
  color: #333;
  margin: 1rem;
  line-height: 1.6;
}
